.container {
  margin: 5rem 15rem;
}

.container div {
  width: 570px;
  height: 330px;
}

.title {
  width: 540px;
  font-size: 36px;
  margin-bottom: 8px;
}

.paragraph {
  width: 540px;
  line-height: 30px;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0;
  }

  .container div {
    width: 720px;
    height: 200px;
    margin: 0 auto;
  }

  .title {
    width: 690px;
  }

  .paragraph {
    width: 690px;
  }
}

@media screen and (max-width: 768px) {
  .container div {
    width: 540px;
  }

  .title {
    width: 510px;
    font-size: 24px;
  }

  .paragraph {
    width: 510px;
  }
}

@media screen and (max-width: 570px) {
  .container div {
    width: 90%;
    height: auto;
    /* padding: 0 1rem; */
  }
  .title {
    width: 100%;
  }

  .paragraph {
    width: 100%;
  }
}
