.container {
  height: auto;
  margin: 0 10rem;
}

.choose {
  display: flex;
  justify-content: space-around;
}

.choose .image {
  width: 50%;
}

.choose .image img {
  width: 445px;
  height: 335px;
}

.choose_container {
  width: 50%;
  height: auto;
}

.choose_container_p {
  color: #9e9e9e;
}

.choose_container h1 {
  font-size: 36px;
}

.choose_container p {
  line-height: 30px;
  margin-left: 0;
  margin-bottom: 24px;
  font-size: 20px;
}

.choose_container h4,
.choose_container h1 {
  margin-bottom: 8px;
}

.choose_container h2 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .choose_container h2 a::before {
  content: "+";
  position: absolute;
  left: 700px;
} */

.choose_container .learn {
  padding-left: 20px;
}

.choose_container .list {
  font-size: 18px;
}

.learn p,
.learn ul li {
  font-size: 18;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 7rem;
  }

  .choose .image img {
    width: 370px;
    height: 275px;
  }
}

@media screen and (max-width: 1000px) {
  .choose .image img {
    width: 270px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  /* .container {
    margin: 0 auto;
  } */

  .choose {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose .image {
    width: 570px;
  }

  .choose_container {
    width: 540px;
  }

  .choose .image img {
    width: 540px;
    height: 400px;
  }

  .choose_container h1 {
    font-size: 24px;
  }

  .choose_container h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 580px) {
  .container {
    margin: 3rem 1rem;
  }

  .choose_container {
    width: 100%;
  }
  .choose .image {
    width: 100%;
  }

  .choose .image img {
    width: 100%;
    height: 100%;
  }
}
