.header {
  width: 100%;
  height: 100vh;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
}

.logo .logo_link a {
  font-size: 30px;
  font-weight: bold;
  color: #091e42;
}

.buttons li {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  border-radius: 5px;
}

.signup {
  background-color: #0065ff;
}

.signup a {
  color: #fff;
  font-size: 18px;
}

.login a {
  color: #0065ff;
  font-size: 18px;
}

.header_container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}

.header_info {
  width: 600px;
  text-align: left;
  /* height: 70%; */
}

.header_info h1 {
  font-size: 50px;
  margin-bottom: 5px;
}

.header_info p {
  font-size: 20px;
  line-height: 30px;
}

.header_info form {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.header_info .input {
  background-color: #fff;
  width: 50%;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #808080;
  padding: 6px 12px;
}

.header_info .submit {
  background-color: #0065ff;
  color: #fff;
  width: 40%;
  height: 45px;
  font-size: 20px;
  border-radius: 5px;
  padding: 6px 24px;
  border: none;
}
.header_container img {
  width: 450px;
  height: 600px;
}

@media screen and (max-width: 1200px) {
  .header_container {
    width: 900px;
  }

  .header_info {
    width: 500px;
  }

  .header_img {
    width: 300px;
  }

  .header_container img {
    width: 370px;
    height: 470px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    height: 60vh;
  }

  .header_container {
    width: 100%;
    justify-content: center;
  }

  .header_info {
    width: 80%;
  }

  .header_info .input {
    width: 50%;
  }

  .header_img {
    width: 0;
  }

  .header_container img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header_info {
    text-align: center;
  }

  .header_info .input {
    display: none;
  }

  .header_info .submit {
    margin: auto;
    width: 70%;
  }
}

@media screen and (max-width: 570px) {
  .header_info h1 {
    width: auto;
    font-size: 32px;
  }

  .header_info p {
    width: auto;
  }
}
