.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    rgba(234, 230, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "Charlie Display", sans-serif;
  color: #091e42;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

/* @import "./components/Header/Header.css";
@import "./components/Container/ContainerTop/ContainerTop.css"; */
